// Breakpoints
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Media queries mixins
@mixin md {
  @media (min-width: $screen-md) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}
@mixin xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}

// Styles
img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.horoscopeContainer {
  margin: 15px 0;
  .date {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #999;
    margin: 0 0 10px 0;
    display: block;
  }
  .header {
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
    flex-flow: column;
    margin-top: -25px;
    @include xl {
      flex-flow: row;
    }
    @include md {
      margin-bottom: 20px;
    }
    @include xl {
      margin-bottom: 25px;
    }
    span {
      display: inline-block;
      font-size: 28px;
      text-transform: uppercase;
      color: red;
    }
  }
  .currentConstellation {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    background: center center no-repeat;
    background-size: cover;
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
    position: relative;
    @include md {
      height: 668px;
    }
    &:after {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .content{
      z-index: 1;
      color: #fff;
      padding-left: 20px;
      max-width: 700px;
      text-align: center;
      h2 {
        font-size: 40px;
        margin: 15px 0 5px;
        text-transform: uppercase;
      }
    }
  }
  .signsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 100%;
      margin-bottom: 15px;
      @include md {
        width: calc(50% - 10px);
      }
      @include xl {
        width: calc(33.3% - 10px);
      }
      .imgContainer {
        text-align: center;
        background: #d5dae1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 60%;
        img {
          width: 100%;
          top: 50%;
          transform: translate(0%, -50%);
          margin: 0 auto;
          position: absolute;
          left: 0;
          min-width: 100%;
          min-height: 100%;
        }
      }
      h3 {
        margin: 15px 0 5px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}