// Breakpoints
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Colors
$font-color: #c1c1c1;
$client-primary: #fff;
$client-secondary: coral;
$dark-bg: #171717;
$light-bg: #eee;

// Fonts
$font-primary: Lato, Arial, sans-serif;
$font-secondary: Roboto, Impact, sans-serif;

// Other
%clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin whiteRadialGradient {
  background: radial-gradient(ellipse at center, rgba(250,198,149,0) 1%,rgba(140,111,84,0) 40%,rgba(3,2,2,0.4) 89%,rgba(0,0,0,0.4) 90%);
}

@mixin transition($transition-property:all, $transition-time:0.3s, $method:ease-in-out) {
  transition: $transition-property $transition-time $method;
}

// Media queries mixins
@mixin md {
  @media (min-width: $screen-md) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}
@mixin xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}
